<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>${TITLE}</title>
  <link rel="stylesheet" href="index.css">
  <style>
    /* Base. */
    @font-face{font-family:"Open Sans";font-weight:400;src:url(opensans-regular.woff2) format("woff2")}
    @font-face{font-family:"Open Sans";font-weight:700;src:url(opensans-bold.woff2) format("woff2")}
    html,body,#tistore-index{height:100%;margin:0;background-color:#eee;font-family:"Open Sans",sans-serif}
    select:focus{outline:none}
    select:disabled{opacity:0.5;cursor:not-allowed}
    input[type=range]:focus{outline:none}
    input[type=button]:focus{outline:none}
    input[type=button]:disabled{cursor:auto!important}
    /* Progress. */
    progress::-webkit-progress-bar {
      background-color: #ddd;
      border-radius: 2px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
    }
    progress::-webkit-progress-value {
      background-color: #0bb;
      background-image: -webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(0,0,0,.25));
      border-radius: 2px;
    }
  </style>
</head>
<body>
  <div id="tistore-index"></div>
  <script src="index.js"></script>
</body>
</html>
