<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>${TITLE}</title>
  <link rel="stylesheet" href="index.css">
  <style>
    /* Base. */
    @font-face{font-family:"Open Sans";font-weight:400;src:url(opensans-regular.woff2) format("woff2")}
    @font-face{font-family:"Open Sans";font-weight:700;src:url(opensans-bold.woff2) format("woff2")}
    html,body,#tistore-index{height:100%;margin:0;background-color:#eee;font-family:"Open Sans",sans-serif}
    button:disabled{cursor:auto!important}
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button{opacity:1;cursor:pointer}
    /* Table (because the amount of inline styles would be enormous. */
    .tistore-col{font-size:14px}
    .tistore-col:nth-child(odd){background-color:#ddd}
    .tistore-row1{width:1px;color:green}
    .tistore-row2{width:1px;cursor:pointer}
    .tistore-row2:hover{color:blue}
    .tistore-row3{text-align:center;cursor:pointer}
    .tistore-row3:hover{color:blue}
    .tistore-row4{width:1px;white-space:nowrap}
  </style>
</head>
<body>
  <div id="tistore-index"></div>
  <script src="index.js"></script>
</body>
</html>
